body {
    text-align: center;
    margin: 20px;
}

h1 {
    text-align: left;
}

header {
    background-color: grey;
    text-align: right;
}

header>img {
    margin: 0px;
    display: inline-block;
    vertical-align: 200%;
    
}


#top-left-corner {
    text-align: left;
    display: inline-block;
    position: relative;
    right: 35%;
    height: 35px;

}

#top-left-corner > h2 p {
    position: relative;
    left: 50px;
    bottom: 50px;
}

#pizza {
    width: 100%;
}




footer {
    background-color: gray;
    height: 100px;
    clear: both;
}

