/* Shamelessly stolen from; https://www.w3schools.com/css/css3_buttons.asp */
button {
    background-color: rgb(177, 50, 19); 
    border: none;
    color: white;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
body {
    text-align: center;
    margin: 20px;
}
.column{
    float: left;
    width: 50%;
    display: block;
    text-align: left;
    padding: 2em 0 2em 0;
}
footer {
    clear: both;
}

h1 {
    text-align: left;
}
h3{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 0.5em;
}
header {
    text-align: right;
}

header>img {
    margin: 0px;
    display: inline-block;
    vertical-align: 200%;
    
}
hr{
    clear: both;
    margin: 100px 0 30px 0;
}
input{
    margin: 0.5em 0 0 4em;
}
/* shamelessly stolen from; https://stackoverflow.com/questions/30975459/add-strikethrough-to-checked-checkbox */
input[type = checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
}
p {
    text-align: left;
    padding: 1em 0em 1em 0em;
    text-indent: 2em;
}

#pizza {
    width: 100%;
}

#recipe {
    width: 100%;
    background-image: url("../img/list-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#row{
    text-align: left;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
#top-left-corner {
    text-align: left;
    display: inline-block;
    position: relative;
    right: 35%;
    height: 35px;

}

#top-left-corner > h2 p {
    position: relative;
    left: 50px;
    bottom: 50px;
}

.ven{
    text-align: left;
}
.ven > *{
    float: left;
}
#ven2{
    width: 60%;
    padding-left: 1em;
}
#ven2 > p{
    text-align: left;
    padding: 0;
    text-indent: 0;
}
#ven3{
    margin-top: 1em;
}